body {
  background-color: #34a0a4;
  font-family: "Duru Sans", sans-serif;
}

.logo {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  color: #fff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.Drinks {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

.drinksTitle {
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 3px 2px rgba(50, 50, 70, 0.4);
}

.ingredientTitle {
  margin-top: 30px;
  text-align: center;
}

.indexNumber {
  display: inline-block;
  position: absolute;
  left: 5px;
}

.drinkItem {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
}

.linkItem {
  text-decoration: none;
  color: #fff;
}

.linkItem:hover {
  font-weight: 900;
}

.deleteBox {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.deleteButton {
  background-color: #e14c3d;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  transition: 0.6s ease;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);

  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.deleteB {
  text-align: center;
}

.ingredientButton {
  font-size: 15px;
  padding: 5px 13px;
}

.deleteButton:hover {
  background-color: #e5732c;
}

.drinkBox {
  position: relative;
  width: 40%;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 20px;
  margin-top: 20px;
  border-bottom: 1px solid white;
}

.addBox {
  margin-top: 20px;
}

.addBoxIngredient {
  text-align: right;
  margin: 2vh 25vw auto auto;
}

.addButton {
  background-color: #f3a41e;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  transition: 0.6s ease;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);

  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.addButton:hover {
  background-color: #e5732c;
}

.AddDrink {
  display: inline-block;
  width: 28%;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 40px 30px 40px;

  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.labelDrink {
  display: block;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 10px;
}

.inputDrink {
  display: block;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 16px;
  padding: 8px;
  text-align: center;
  font-size: 16px;
}

.addDrinkButton {
  margin-top: 20px;
  background-color: #a0cad1;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  transition: 0.6s ease;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);

  color: white;
  text-align: center;
  font-size: 20px;
}

.addIngredientButton {
  text-align: center;
}

.addDrinkButton:hover {
  background-color: rgb(101, 142, 149);
}

.IngredientBox {
  width: 30%;
  margin: 12vh 11vw auto auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 15px 25px;

  color: #fff;
}

.drinkName {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 3px 2px rgba(50, 50, 70, 0.4);
}

td {
  padding-top: 12px;
  padding-bottom: 7px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
}

.ingredientTable {
  width: 100%;
  text-align: left;
}

.thead {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 18px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(50, 50, 70, 0.2);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}
